# Toxic Comment Classification

## 1. Data Preparation

In [2]:
import pandas as pd

In [3]:
master_df = pd.read_csv("Datasets/train.csv")
master_df.head()

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
0,0000997932d777bf,Explanation\nWhy the edits made under my usern...,0,0,0,0,0,0
1,000103f0d9cfb60f,D'aww! He matches this background colour I'm s...,0,0,0,0,0,0
2,000113f07ec002fd,"Hey man, I'm really not trying to edit war. It...",0,0,0,0,0,0
3,0001b41b1c6bb37e,"""\nMore\nI can't make any real suggestions on ...",0,0,0,0,0,0
4,0001d958c54c6e35,"You, sir, are my hero. Any chance you remember...",0,0,0,0,0,0

In [4]:
master_df.shape

(159571, 8)

The given dataset has 159571 rows and 8 variables, which has a comment_text variable having textual data followed by 5 target variables. This is a multi label classification problem.

In [5]:
master_df.dtypes

id               object
comment_text     object
toxic             int64
severe_toxic      int64
obscene           int64
threat            int64
insult            int64
identity_hate     int64
dtype: object

In [ ]:
def fn_set_dtypes(df,categories_,ints_,floats_,objects_):
    for category_ in categories_:
        df[category_] = df[category_].astype("category")
        
    for int_ in ints_:
        df[int_] = df[int_].astype("int64")
        
    for float_ in floats_:
        df[float_] = df[float_].astype("float64")
        
    for object_ in objects_:
        df[object_] = df[object_].astype("object")
    return df

categories_=['Churn','State', 'Area Code','Intl Plan', 'VMail Plan','CustServ Calls']
ints_=['Account Length', 'Day Calls','Eve Calls','Night Calls','Intl Calls',]
floats_=['VMail Message', 'Day Mins', 'Eve Mins', 'Night Mins',
       'Intl Mins', 'Day Charge', 'Daily Charges MV',
       'Eve Charge', 'Night Charge','Intl Charge']
objects_=['Phone']
master_dataset = fn_set_dtypes(master_dataset,categories_,ints_,floats_,objects_)
master_dataset.dtypes

In [9]:
master_df["toxic"] = master_df["toxic"].astype("category")
master_df["severe_toxic"] = master_df["severe_toxic"].astype("category")
master_df["obscene"] = master_df["obscene"].astype("category")
master_df["threat"] = master_df["threat"].astype("category")
master_df["insult"] = master_df["insult"].astype("category")
master_df["identity_hate"] = master_df["identity_hate"].astype("category")

In [10]:
master_df.dtypes

id                 object
comment_text       object
toxic            category
severe_toxic     category
obscene          category
threat           category
insult           category
identity_hate    category
dtype: object

In [18]:
master_df.shape

(159571, 8)

In [17]:
pd.crosstab(master_df["toxic"],master_df["severe_toxic"])

severe_toxic       0     1
toxic
0             144277     0
1              13699  1595