In [1]:
import pandas as pd
data = pd.read_csv('C:/Users/phsivale/Documents/Trainings/flaskPOC/bank.csv')

data.head()

   Age  Experience  Income Home  PersonalLoan
0   25           1      49    a             0
1   45          19      34    a             0
2   39          15      11    b             0
3   35           9     100    c             0
4   35           8      45    c             0

## Label Enc and One Hot Enc

In [3]:
from sklearn.preprocessing import LabelEncoder

In [39]:
enc = LabelEncoder()

In [40]:
enc.fit(data['Home'])

LabelEncoder()

In [41]:
data['Home_Cat'] = enc.transform(data['Home'])

In [42]:
data.head()

   Age  Experience  Income Home  PersonalLoan  Home_Cat
0   25           1      49    a             0         0
1   45          19      34    a             0         0
2   39          15      11    b             0         1
3   35           9     100    c             0         2
4   35           8      45    c             0         2

In [43]:
data.drop(['Home'],axis=1,inplace=True)

In [44]:
data['Home_Cat'] = data['Home_Cat'].astype('category')

In [45]:
from sklearn.preprocessing import OneHotEncoder

In [52]:
enc2 = OneHotEncoder(sparse=False)

In [53]:
enc2.fit(pd.DataFrame(data['Home_Cat']))

OneHotEncoder(categorical_features='all', dtype=<class 'numpy.float64'>,
       handle_unknown='error', n_values='auto', sparse=False)

In [54]:
data2 = enc2.transform(pd.DataFrame(data['Home_Cat']))

In [56]:
pd.DataFrame(data2).head()

     0    1    2
0  1.0  0.0  0.0
1  1.0  0.0  0.0
2  0.0  1.0  0.0
3  0.0  0.0  1.0
4  0.0  0.0  1.0

### Label Binarizer

In [2]:
from sklearn.preprocessing import LabelBinarizer

In [3]:
binz = LabelBinarizer()

In [4]:
binz.fit(data['Home'])

LabelBinarizer(neg_label=0, pos_label=1, sparse_output=False)

In [5]:
data_bin = binz.transform(data['Home'])

In [6]:
data_bin = pd.DataFrame(data_bin)

In [7]:
data_bin.head()

   0  1  2
0  1  0  0
1  1  0  0
2  0  1  0
3  0  0  1
4  0  0  1

In [12]:
test = pd.DataFrame({"Age":[20,10],"Experience":[10,5],"Income":10,"Home":["p",'a']})

In [13]:
test

   Age  Experience Home  Income
0   20          10    p      10
1   10           5    a      10

In [15]:
pd.DataFrame(binz.transform(test['Home']))

   0  1  2
0  0  0  0
1  1  0  0

In [16]:
data.head()

   Age  Experience  Income Home  PersonalLoan
0   25           1      49    a             0
1   45          19      34    a             0
2   39          15      11    b             0
3   35           9     100    c             0
4   35           8      45    c             0

In [19]:
data.drop(['Home'],axis=1,inplace = True)

In [20]:
data_new = pd.concat([data,data_bin],axis=1)

In [21]:
data_new.head()

   Age  Experience  Income  PersonalLoan  0  1  2
0   25           1      49             0  1  0  0
1   45          19      34             0  1  0  0
2   39          15      11             0  0  1  0
3   35           9     100             0  0  0  1
4   35           8      45             0  0  0  1

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
X = data_new.drop(['PersonalLoan'],axis=1)
y = data_new['PersonalLoan']

In [24]:
clf = RandomForestClassifier()
clf.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [25]:
import pickle

In [26]:
with open('C:/Users/phsivale/Documents/Trainings/flaskPOC/model27Apr.pkl','wb') as f:
    pickle.dump(clf,f)

In [27]:
with open('C:/Users/phsivale/Documents/Trainings/flaskPOC/bin27Apr.pkl','wb') as f:
    pickle.dump(binz,f)