## Anova Test(F-Test)
The t-test works well when dealing with two groups, but sometimes we want to compare more than two groups at the same time.


For example, if we wanted to test whether petal_width age differs based on some categorical variable like species, we have to compare the means of each level or group the variable

### One Way F-test(Anova) :-
It tell whether two or more groups are similar or not based on their mean similarity and f-score.

Example : there are 3 different category of iris flowers and their petal width and need to check whether all 3 group are similar or not

In [1]:
import seaborn as sns
import pandas as pd
import scipy.stats as stats
df1=sns.load_dataset('iris')

In [2]:
df1.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df_anova = df1[['petal_width','species']]

In [4]:
grps = pd.unique(df_anova.species.values)

In [5]:
grps

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [6]:
d_data = {grp:df_anova['petal_width'][df_anova.species == grp] for grp in grps}

In [8]:
F, p = stats.f_oneway(d_data['setosa'], d_data['versicolor'], d_data['virginica'])

In [9]:
print(p)

4.1694458394430593e-85

One-Way ANOVA:

Null Hypothesis (H0): The null hypothesis for one-way ANOVA states that there are no significant differences between the means of three or more independent (unrelated) groups. In other words, all group means are equal.

H0: μ1 = μ2 = μ3 = ... = μk

Where:

μ1, μ2, μ3, ... μk represent the population means of the k groups.
Alternative Hypothesis (Ha): The alternative hypothesis asserts that at least one group mean is significantly different from the others. It does not specify which group is different or in what direction.

Ha: At least one μi is different from the rest (where i represents one of the groups).

In [11]:
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis